<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>ReVanced</h3>
                    <p class="text-muted" style="font-size:11px">The most stable and reliable ReVanced apks and Magisk modules. Watch YouTube, listening to Music without any ads. For general users, this is the one you need to use.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>ReVanced eXtended</h3>
                    <p class="text-muted" style="font-size:11px">We also have eXtended version of ReVanced, less stable, but you will get a latest version, much more features, and a bit faster update. Recommended for advanced users.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">We update the apks and modules regularly to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted" style="font-size:11px">No, it's not just made with love, but with automation so the build will automatically pushed fresh from the oven when the sources got updated.</p>
                </div>
            </div>
        </div>
    </div>
</section>
